#about {
    margin-top: 4em;
    width: 100%;
}

#img-container {
    float: left;
}

#about img {
    width: 30vw;
    padding: 0em 3em 2em 0em;
    border-top-left-radius: 2em;
}

#about h1 {
    text-align: center;
    line-height: 3em;
}

#about p {
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: center;
}

@media (max-width: 1440px) {

    #about img {
        width: 100%;
        padding: 0;
        border-radius: 2em 2em 0em 0em;
        margin-bottom: 2em;
    }

    #about h1 {
        line-height: 1.25em;
        margin-bottom: 1em;
    }

    #about p {
        text-align: left;
        font-size: .8em;
        line-height: 1.2em;
    }

}