#about {
    margin-top: 3em;
    width: 100%;
    height: auto;
}

#about img {
    width: 30vw;
}

#img-1 {
    float: left;
    padding: 0em 3em 2em 0em;
}

#img-2 {
    float: right;
    padding: 3em 0em 0em 2em;
}

#about h1 {
    text-align: center;
    line-height: 3em;
}

#about p {
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: center;
}

@media (max-width: 1440px) {

    #about {
        margin: 0;
        width: 100%;
        height: auto;
    }

    #about img {
        width: 100%;
        padding: 0;
    }

    #img-1 {
        float: auto;
        padding: 2em 0em 2em 0em;
    }

    #img-2 {
        float: auto;
        padding: 2em 0em 2em 0em;
    }

    #about h1 {
        line-height: 1.25em;
        margin-bottom: 1em;
    }

    #about p {
        text-align: center;
        font-size: .8em;
        line-height: 1.2em;
    }

}