#about{
    padding: 0em 4em 0em 4em;
    margin-top: 4em;
}

#img-container{
    float: left;
}

#about img{
    height: 70vh;
    padding: 0em 3em 2em 0em;
    border-radius:2em;
}   

#about p{
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: center;
}