:root {
  --text-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .7;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("../img/starry2.gif");
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
li,
p {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: var(--text-color);
}

a {
  cursor: pointer;
}

.App {
  margin: 0vh 5vw 0vh 5vw;
}

#main {
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  width: 90vw;
}

@media (max-width: 1440px) {
  .App {
    display: flex;
    margin: 0;
  }

  #main {
    border-left: none;
    border-right: none;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.0);
  }

  #about,
  #projects {
    padding: 7em 1em 1em 1em;
  }
}