:root {
  --text-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .7;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url("../img/starry2.gif");
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
li,
p {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: var(--text-color);
}

a {
  cursor: pointer;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  margin: 0vh 5vw 0vh 5vw;
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  padding: 0vh 5vw 0vh 5vw;
}

@media (max-width: 1440px) {

  .App {
    margin: 0vh 10vw 0vh 10vw !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-left: none;
    border-right: none;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.0);
  }
}