:root {
  --text-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes pop {
  0% {
    scale: calc(1.0)
  }

  50% {
    scale: calc(1.1)
  }

  100% {
    scale: calc(1.0)
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .7;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("../img/starry2.gif");
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
li {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

.App {
  display: grid;
  grid-template-columns: 5vw 90vw 5vw;
  grid-template-rows: 0vh 100vh 0vh;
}


#home,
#about,
#projects,
#contact {
  height: 100vh;
}

#main {
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 1px solid white;
  border-right: 1px solid white;
  overflow: auto;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  position: sticky;
  line-height: 2.25em;
  height: 2.25em;
}

#nav span {
  display: flex;
}

#nav h1 {
  color: var(--text-color);
  font-size: 2em;
}

#nav li {
  color: var(--text-color);
  font-size: 1em;
  list-style: none;
  display: inline-block;
  padding-right: 2em;
  animation: fadeIn 1s;
}

#nav img {
  height: 100%;
  opacity: .7;
}

#nav img:hover,
#nav li:hover {
  animation: pop 1s;
  animation-iteration-count: infinite;
}

@media (max-width: 1440px) {
  .App {
    display: flex;
  }

  #main {
    border-left: none;
    border-right: none;
    width: 100vw;
  }
}